name: Build and Test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FC: gfortran-9
      CC: gcc-9

    steps:
    - uses: actions/checkout@v2
    - name: install-dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libmpich-dev
        sudo apt-get install libnetcdf-dev libnetcdff-dev netcdf-bin pkg-config
        sudo apt-get install doxygen
       
    - name: build and test
      run: |
        pwd && ls -l
        mkdir build && cd build
        cmake .. -DENABLE_DOCS=Yes -DCMAKE_PREFIX_PATH=~
        make -j2
        ctest --verbose
